/run
env
.env
venv
.venv
.vscode
__pycache__
*.py[cod]
*.pyc
/react/android

.idea
.ipynb_checkpoints
.mypy_cache
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
log.txt
Pipfile.lock
env3.*
docs_build
site_build
docs.zip
archive.zip